/* Cart.css */

.emptyCart {
    margin: auto;
    text-align: center;
    padding: 10vmax;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emptyCart > svg {
    font-size: 5vmax;
    color: tomato;
}
.emptyCart > p {
    font-size: 2vmax;
}
.emptyCart > a {
    background-color: rgb(51, 51, 51);
    color: white;
    border: none;
    padding: 1vmax 3vmax;
    cursor: pointer;
    font: 400 1vmax "Roboto";
    text-decoration: none;
}

.cartPage {
    padding: 5vmax;
    max-width: 1200px;
    margin: auto;
    margin-top: 3vmax; /* Adjusted to half the previous value */
}

.cartHeader {
    background-color: tomato;
    width: 100%;
    box-sizing: border-box;
    color: white;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    font: 300 1vmax "Roboto";
}
.cartHeader > p {
    margin: 10px;
}
.cartHeader > p:last-child {
    text-align: end;
}

.cartContainer {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    align-items: center;
    padding: 1vmax 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cartInput {
    display: flex;
    align-items: center;
}

.cartInput > button {
    border: none;
    background-color: rgba(0, 0, 0, 0.616);
    padding: 0.5vmax;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}
.cartInput > button:hover {
    background-color: rgba(0, 0, 0, 0.767);
}

.cartInput > input {
    border: none;
    padding: 0.5vmax;
    width: 3vmax;
    text-align: center;
    outline: none;
    font: 400 1vmax "Roboto";
    color: rgba(0, 0, 0, 0.74);
}

.cartSubtotal {
    text-align: right;
    font: 300 1vmax cursive;
    color: rgba(0, 0, 0, 0.753);
}

.cartGrossProfit {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin-top: 2vmax;
}

.cartGrossProfitBox {
    border-top: 3px solid tomato;
    margin: 0 4vmax;
    box-sizing: border-box;
    padding: 2vmax 0;
    font: 300 1vmax "Roboto";
    display: flex;
    justify-content: space-between;
}

.checkOutBtn {
    display: flex;
    justify-content: flex-end;
}
.checkOutBtn > button {
    background-color: tomato;
    color: white;
    border: none;
    padding: 0.8vmax 4vmax;
    font: 300 1vmax "Roboto";
    margin: 1vmax 4vmax;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s;
}
.checkOutBtn > button:hover {
    background-color: darkred;
}

@media screen and (max-width: 1024px) {
    .cartHeader,
    .cartContainer {
        grid-template-columns: 3fr 1fr 1fr;
    }

    .cartGrossProfit {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .cartGrossProfitBox {
        margin: 0 2vmax;
        font-size: 1.5vmax;
    }

    .checkOutBtn {
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .cartPage {
        padding: 0;
        padding-top: 3vmax; /* Adjusted to half the previous value */
        min-height: 60vh;
    }

    .cartHeader {
        width: 100%;
        font: 300 2vmax "Roboto";
        grid-template-columns: 3fr 1fr 1fr;
    }

    .cartContainer {
        width: 100%;
        grid-template-columns: 3fr 1fr 1fr;
    }

    .cartInput {
        height: 20vmax;
    }

    .cartInput > button {
        padding: 1.5vmax;
    }

    .cartInput > input {
        width: 3vmax;
        padding: 1.5vmax;
        font: 400 1.8vmax "Roboto";
    }

    .cartSubtotal {
        padding: 1.5vmax;
        font: 300 2vmax "Roboto";
    }

    .cartGrossProfit {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .cartGrossProfitBox {
        padding: 2vmax;
        font: 300 2vmax "Roboto";
    }

    .checkOutBtn > button {
        padding: 2vmax 4vmax;
        width: 100%;
        font: 300 2vmax "Roboto";
    }
}
