.banner {
    background-image: url("../../images/cover.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.banner > h1 {
    margin: 5vmax;

    font: 600 150% "Roboto";
}

.banner > p {
    font: 300 80% "Lucida Sans";
}

.banner > a > button {
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 10px 30px;
    transition: all 0.5s;
    /* width: 9vmax; */
    font: 500 60% "Roboto";
}
.banner > a > button:hover {
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.banner::after {
    content: "";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffff;
    position: absolute;
    top: 0%;
    left: 0;
    clip-path: polygon(100% 68%, 0 100%, 100% 100%);
    max-width: 100%;
}

.homeHeading {
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    border-bottom: 1px solid rgba(21, 21, 21, 0.5);
    width: 200px;
    padding: 1vmax;
    margin: 5vmax auto;
    color: rgba(37, 36, 36, 0.76);
}

.container {
    display: flex;

    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.productCard {
    border: 0.6px solid gainsboro;
    width: 14vmax;
    min-width: 152px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: rgb(48, 48, 48);
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
    display: grid;
    min-height: 200px;
    grid-template-rows: 65% 35%;
}
.card_image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.productCard > div > img {
    width: 100%;
}

.productCard > div > div {
    margin: 0.5vmax;
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    align-items: center;
}

.productCard > div > p {
    font-family: "Roboto";
    font-size: 1.2vmax;
    font-size: 16px;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
}
.productCardSpan {
    margin: 0.5vmax;
    font: 300 10px "Roboto";
}

.productCard > div > span {
    margin: 0.5vmax;
    color: tomato;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 14px;
}

.productCard:hover {
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

    transform: translateY(-1vmax);
}
.css-24znkh-Star:hover {
    cursor: default;
    transform: none;
}

@media screen and (max-width: 600px) {
    .banner > h1 {
        margin: 5vmax;

        font: 600 2.5vmax "Roboto";
    }

    .banner > p {
        font: 300 1.4vmax "Lucida Sans";
    }

    .banner > a > button {
        margin-bottom: 5vmax;
        cursor: pointer;
        background-color: white;
        border: 1px solid white;
        border-radius: 0;
        padding: 1vmax;
        transition: all 0.5s;
        width: 9vmax;
        font: 500 1vmax "Roboto";
    }
    .productCard > div > p {
        font-size: 14px;
    }
    .rating-small {
        font-size: 1vmax;
        background-color: black;
    }

    .productCard > div > div {
        margin: 0vmax;
        display: flex;
        gap: 3px;
        /* display: block; */
    }

    .productCard > div > span {
        font-size: 1.5vmax;
    }

    .productCard > div > div > span {
        margin: 0 0.5vmax;
        font: 300 9.6px "Roboto";
    }
}
